snippet ipdb
import ipdb; ipdb.set_trace()
endsnippet

snippet main
if __name__ == '__main__':
endsnippet

snippet argparse
parser = argparse.ArgumentParser(description='')
parser.add_argument('--cfg', type=str, default='')
parser.parse_args()
endsnippet
