[submodule "plugins/start/coc.nvim"]
	path = plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "plugins/start/ctrlp.vim"]
	path = plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "plugins/start/incsearch.vim"]
	path = plugins/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "plugins/start/indentpython.vim"]
	path = plugins/start/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "plugins/start/python-syntax"]
	path = plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "plugins/start/ultisnips"]
	path = plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "plugins/start/undotree"]
	path = plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugins/start/vim-airline-themes"]
	path = plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "plugins/start/vim-bracketed-paste"]
	path = plugins/start/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "plugins/start/vim-gitgutter"]
	path = plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/start/vim-signature"]
	path = plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "colors/opt/Zenburn"]
	path = colors/opt/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "colors/opt/gruvbox"]
	path = colors/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "colors/opt/iceberg.vim"]
	path = colors/opt/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "colors/opt/jellybeans.vim"]
	path = colors/opt/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "colors/opt/night-owl.vim"]
	path = colors/opt/night-owl.vim
	url = https://github.com/haishanh/night-owl.vim.git
[submodule "colors/opt/oceanic-next"]
	path = colors/opt/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "colors/opt/vim-color-forest-night"]
	path = colors/opt/vim-color-forest-night
	url = https://github.com/sainnhe/vim-color-forest-night.git
[submodule "colors/opt/vim-colors-solarized"]
	path = colors/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "colors/opt/vim-kolor"]
	path = colors/opt/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "plugins/start/vim-ripgrep"]
	path = plugins/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "plugins/start/vim-surround"]
	path = plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "colors/opt/nord-vim"]
	path = colors/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "plugins/start/vim-commentary"]
	path = plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
